/*---------RECETAS-------------*/

.bg-card {
    margin-top: 10pz;
    background-color: $color-bg-receta;
    border: 0.5px solid $color-border;
  }
  
  .btn-receta {
    background-color: $bg-receta;
    width: 200px;
    height: 50px;
    font-size: 25px;
        &:hover {
    background-color: $color-bg-hover;
    color: white;
  }
        &:first-child:active {
    background-color: $color-bg-child;
  }

}
  
  .card-receta {
    @include card-propiedad;
  }
  