//Definir variables

//palabras claves donde se guarda informacion

//funente principal

//RESET
$reset-border: border-box;
$font-principal: "Roboto", sans-serif;
//color e imagen del body
$color-body: #87fdfd;
$img-body: url("../assets/bg\ body.avif");
$color-cambio: #000000;



//color nav MENU-NAV
$color-nav: #9fe2cd;
$color-nav-hover:#9fe2cd;


//COLOR Y TAMAÑO BANNER Y H3
$color-banner: #d4ceceef;
$color-banner-font: #3d3737; 
$font-size-banner: 20px;
//-------------------------------

//COLORES bg-card
$color-bg-receta: #ebf8f8b4;
$color-border: #bea9a9;

//.btn-receta
$bg-receta: #b4a8a8;

//.btn-receta:hover
$color-bg-hover: #ce6464;

//.btn:first-child:active
$color-bg-child: #ce6464;


//FOOTER
//colores footer
$color-nav: #9fe2cd;
$color-footer-hover: #111211;


//MEDIAS QUERIES
//MAPS CARD VARIEDADES


//centrados .centrado y . justificado
$centrado-center: center;

$justificado-start: start;






  


