//Definir variables
//palabras claves donde se guarda informacion

//funente principal

$font-principal: "Roboto", sans-serif;

//Reset
$reset: border-box;

//color e imagen body
$color-body: rgb(135, 253, 253);
$img-body: ("../assets/bg\ body.avif");


//centrados
$centrado: text-align: center;

$justificado: text-align: start;




  


